body{

    background:black;

    color:white;

    text-align:center;

    font-family:Arial;
}

#board{

    display:grid;

    grid-template-columns:repeat(12,60px);

    gap:5px;

    justify-content:center;

    margin-top:30px;
}

.cell{

    width:60px;

    height:60px;

    border:2px solid white;

    background:#333;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    font-size:20px;
}

.red{

    background:red;
}

.blue{

    background:blue;
}
